doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Home Page
  link(rel='stylesheet' href='/stylesheets/home.css')
.container
  .color-box(style='background-color: red;')
  .color-box(style='background-color: blue;')
  .color-box(style='background-color: black;')
  .color-box(style='background-color: white;')
  .color-box(style='background-color: navy;')
script(src='/home.js')