doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Forgot Password Page
    link(rel='stylesheet' href='/stylesheets/resetpassword.css')
  body
    .resetpassword-container
      h2 RESET PASSWORD
      form#resetpasswordForm
        label(for='username') Username
        input#username(type='text' name='username' placeholder='Enter your registered username' required='')
        label(for='password') Password
        input#newPassword(type='password' name='newPassword' placeholder='Enter your new password' required='')
        label(for='confirmPassword') Confirm Password
        input#newconfirmPassword(type='password' name='newconfirmPassword' placeholder='Confirm your new password' required='')
        button(type='submit') Reset Password
    script(src='/resetpassword.js')
